body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    width: 1620px;  /* Якщо розширення буде більше  1620, у макеті будуть бокові відступи*/
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#header {
    background-color: #fff;
    display: flex;
}

#header img {
    width: 200px;
}

.blackfone {
    background-color: #000;
    width: 100%; 
}

.menu{
    text-align: right;
    line-height: 90px;
}

.menu a {
    text-decoration: none;
    color: #FFFCFC;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 30px;
    text-align:right;
}
 
                          /* Header */


#gallery {
    background-color: #fff;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.group3, .group4 {
    text-align: center;
}

.group1 {
    text-align: end;
}

.group1 img, .group2 img {
    width: 95%;
}

.group3 img, .group4 img {
    width: 75%;
}

.group2 img:nth-child(2) {
    height: 44.6%;
}

.group1 img:first-child,
.group2 img:first-child {
    margin-bottom: 30px;
}

#gallery div:first-child, 
#gallery div:last-child {
    align-self: center;    
}

.group1{
    animation: group1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; /* к-ть повторів анімації */
}

@keyframes group1 {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }

    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.group2{
    animation: group2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group2 {
    from{
        opacity: 0;
        transform: translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.group3{
    animation: group3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group3 {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }

    50%{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.group4{
    animation: group4;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group4 {
    from{
        opacity: 0;
        transform: translateX(100%);
    }

    50%{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Gallery */


#services {
    background-color: #fff;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.6fr;
}

.circles {
    align-self: center;
    text-align: center;

    color: #000;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 1.8rem;
}

.circles img {
   width: 65%;
}

.circles div:first-child {
    margin-bottom: 50px;
}
 
.instruments img {
    width: 100%;
    height: 100%;
}

.styling {
    animation-name: styling;
}
 
.shave {
    animation-name: shave;
}

.beard {
    animation-name: beard;
}

.straightering {
    animation-name: straightering;
}

.styling, .shave, .beard, .straightering {
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;  /* Затримка */
    animation-iteration-count: infinite; /* к-ть повторів */
    animation-direction: normal; /* Напрям */
    animation-fill-mode: forwards;
}

@keyframes styling {
    0% {
        transform: translate(0%);
    }

    25%{
        transform: translate(100%);
    }

    50%{
        transform: translate(100%, 114%);
    }

    75% {
        transform: translateY(114%);
    }
}

@keyframes shave {
    0%{
        transform: translate(0%);
    }

    25%{
        transform: translateY(-114%);
    }

    50%{
        transform: translate(100%, -114%);
    }

    75%{
        transform: translate(100%);
    }
}

@keyframes beard {
    0%{
        transform: translate(0%);
    }

    25%{
        transform: translateY(114%);
    }

    50%{
        transform: translate(-100%, 114%);
    }

    75%{
        transform: translate(-100%, 0%);
    }
}

@keyframes straightering {
    0%{
        transform: translate(0%);
    }

    25%{
        transform: translate(-100%);
    }

    50%{
        transform: translate(-100%, -114%);
    }

    75%{
        transform: translate(0%, -114%);
    }
}
                /* Services */


#team {
    background-color: #fff;
    margin-top: 120px;
}

.teamtitle {
    text-align: center;
    padding-top: 40px;
    color: #000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 500%;
}

.people {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;  
}

.meredith, .jason, .ryan, .james { 
    background-repeat: no-repeat;
    transform: scale(0.9); 
    background-size: 100% 100%; 
}

.meredith {
    background-image: url(./img/Meredith.png); 
}

.jason {
    background-image: url(./img/Jason.png); 
}

.ryan {
    background-image: url(./img/Ryan.png);  
}

.james {
    background-image: url(./img/James.png);
}

.hover {
    background: rgba(163, 83, 10, 0.7);
   
    margin-top: 510px;
    height: 25%;
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    
    color: #FFFAFA;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    line-height: 350%;
    
    opacity: 0;
     
    transition: all;
    transition-duration: 0.5s;
}

.meredith:hover .hover,
.jason:hover .hover,
.ryan:hover .hover,
.james:hover .hover{
    opacity: 1;
}
/* team */

#contact {
    margin-top: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    padding-bottom: 20px;
}

.checkbox {
    text-align: center;
    justify-self: end;
}

.headtitle {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
}

.description {
    background-color: #E5E5E5;
    width: 100%; 
    padding: 20px;
    margin-top: 25px;
}

.description input,
.description textarea {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
}

.description input {
    width: 46.1%;
    height: 55px;
}

.description input:nth-child(2){
    margin-left: 6.9%;
}

.description textarea {
    resize: none;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    margin-top: 20px;
}

.map iframe {
    height: 100%;
    width: 70%;
}

.map {
    margin-left: 15%;
}
                            /* Contact */

#footer {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    justify-items: center;
    color: #000;
    font-family: 'Rosario';
    font-size: 1.3rem;
    
}

.hours, .number {
    text-align: center;
    font-weight: 600;
}

.number span, 
.hours span {
    font-style: normal;
    font-weight: 700;
}

.opening {
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.with {
    font-weight: 700;
    font-size: 1.7rem; 
}

.number a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-style: italic;
}

.connect a {
    text-decoration: none;
    color: #000;
}

.imgsize{
    height: 17px;
    margin-right: 10px;  
}

.inst{
    margin-right: 14px;
}

.twitter{
    margin-right: 28px;
}

.facebook{
    margin-right: 8px;
}



@media screen and (max-width: 992px) {
    #header {
        width: 992px;
    }
    /* header */
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        width: 992px;
    }

    .group1 {
        text-align: end;
    }

    .group3 {
        order: 1;
        text-align: end;
    }

    .group4 {
        order: 2;
        text-align: start;
    }

    .group1 img, .group2 img {
        width: 70%;
    }

    .group3 img, .group4 img {
        width: 40%;
    }
    /* Gallery */
    #services {
        width: 992px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .instruments {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        transform: scale(0.9);
    }
    /* services */

    #team {
        width: 992px;
    }

    .teamtitle {
        font-size: 400%;
    }

    .people {
        grid-template-columns: repeat(2, 1fr);
    }

    .meredith, .jason, .ryan, .james {
        transform: scale(0.8);
    }

    .hover {
        margin-top: 665px;
        height: 20%;
    }
    /* team */
    #contact {
        width: 992px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }

    .checkbox {
        justify-self: center;
    }

    .map {
        margin-left: 0;
        justify-self: center;
    }

    .map iframe {
        width: 500px;
    }
    /* Contact */
    #footer {
        width: 992px;
        font-size: 1rem;
    }
    /* footer */
}



@media screen and (max-width: 768px) {
    #header {
        width: 768px;
    }

    #header img {
        width: 170px;
    }

    .menu a {
        font-size: 1.2rem;
        margin-right: 20px;
    }
    /* header */
    #gallery {
        width: 768px;
        grid-template-columns: 1fr;
    }

    .group1, .group2, .group3, .group4 {
        text-align: center;
    }

    .group1 img:first-child,
    .group2 img:first-child,
    .group3 img {
        animation: img1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

    @keyframes img1 {
        from{
            opacity: 0;
            transform: translateX(-100%);
        }
    
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .group1 img:last-child,
    .group2 img:last-child,
    .group4 img  {
        animation: img2;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

    @keyframes img2 {
        from{
            opacity: 0;
            transform: translateX(100%);
        }
    
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    /* gallery */
    #services {
        width: 768px;
    }

    .instruments {
        display: none;
    }
    /* services */
    #team {
        width: 768px;
    }

    .teamtitle {
        font-size: 300%;
    }

    .people {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .meredith, .jason, .ryan, .james {
        width: 75%;
        justify-self: center;
    }

    .meredith:hover .hover,
    .jason:hover .hover,
    .ryan:hover .hover,
    .james:hover .hover{
    opacity: 0;
}

    .meredith:active .hover,
    .jason:active .hover,
    .ryan:active .hover,  /* Ім'я буде з'являтись по натиску */
    .james:active .hover{
    opacity: 1;
}
/* team */
    #contact {
        width: 768px;
        row-gap: 5px;
    }

    .headtitle {
        font-size: 2.5rem;
    }

    .checkbox {
        transform: scale(0.9);
        order: 2;
    }

    .map {
        order: 1;
        transform: scale(0.9);
    }
    /* Contact */
    #footer {
        width: 768px;
        padding-top: 10px;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    /* footer */
}
