:root{
    background: #E5E5E5;
}

body{
    margin: 0 auto;
    max-width: 1000px;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

#header{
    display: flex;
    background: white;  
}

.logo{
    height: 90px;
}

.blackblock{
    background-color: black;
    width: 55em;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-transform: capitalize;
}

.menu li a{
    text-decoration: none;
    
    color: #FFFCFC;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 3em;
    box-sizing: border-box;
    padding: 5px;
}

.header__text{
    margin-right: 20px;
}

.appointment{
    margin-left: 14.1rem;
}

.contact{
    margin-right: 0.6rem;
}


/* HEADER */


#gallery{
    min-width: 1000px;
    background-color: #fff;
    padding-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

.group_4, .group_3{
    width: 85%;
}

.group_1 img, .group_2 img{
    display: block;
    width: 100%;
    
    transform-origin: center;
    transform: scale(0.9);
}

.group_1{
    animation: group_1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group_1 {

    from{
        opacity: 0;
        transform: translateX(-100%);
    }

    to{
        opacity: 1;
        transform: translateX(3%);
    }

}

.group_2{
    animation: group_2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group_2 {

    from{
        opacity: 0;
        transform: translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(-3%);
    }

}

.group_3{
    animation: group_3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group_3 {

    from{
        opacity: 0;
        transform: translateX(-100%);
    }

    50%{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(3%);
    }

}

.group_4{
    animation: group_4;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes group_4 {

    from{
        opacity: 0;
        transform: translateX(100%);
    }

    50%{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(-3%);
    }

}

/* Gallery */


#services{
    min-width: 1000px;
    margin-top: 100px;
    background-color: #fff;
    display: flex;
    height: 480px;
    align-items: center;
    text-align: center;
}

.circlesize{
    width: 100%;
}

.circletext{
    color: #000;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 1.3rem;
}

.shave, .straightening{
    margin-top: 30px;
}

.photosize{
    width: 80%; 
}

.instruments{
    display: flex;
    justify-content: end;
    height: 100%;
}

.first{
    margin-left: 95px;
}

.second{
    margin-left: 50px;
}

.styling{
    animation: styling;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes styling{

    0%{
        transform: translate(0%);
    }

    25%{
        transform: translate(128%);
    }

    50%{
        transform: translate(128%, 115%);
    }

    75%{
        transform: translateY(120%);
    }

}

.shave{
    animation: shave;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;    
}

@keyframes shave{

    0%{
        transform: translate(0%);
    }

    25%{
        transform: translateY(-120%);
    }

    50%{
        transform: translate(128%, -120%);
    }

    75%{
        transform: translate(128%, 0%);
    }

}

.trimming{
    animation: trimming;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes trimming{

    0%{
        transform: translate(0%);
    }

    25%{
        transform: translateY(118%);
    }

    50%{
        transform: translate(-128%, 118%);
    }

    75%{
        transform: translate(-128%, 0%);
    }
}

.straightening{
    animation: straightening;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes straightening{

    0%{
        transform: translate(0);
    }

    25%{
        transform: translate(-128%);
    }

    50%{
        transform: translate(-128%, -118%);
    }

    75%{
        transform: translate(0%, -118%);
    }
}
                /* Services */


#team{
    min-width: 1000px;
    margin-top: 100px;
    background-color: #fff; 
}
 
.title{
    padding-top: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.personal{
    display: flex;
    justify-content: space-evenly;
}

.meredith{
    background-image: url(./img/Meredith.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 350px;
    background-size: 100%;
}

.jason{
    background-image: url(./img/Jason.png);
    background-repeat: no-repeat;
    width: 195px;
    height: 350px;
    background-size: 100%;
}

.ryan{
    background-image: url(./img/Ryan.png);
    background-repeat: no-repeat;
    width: 198px;
    height: 350px;
    background-size: 100%;
}

.james{
    background-image: url(./img/James.png);
    background-repeat: no-repeat;
    width: 197px;
    height: 350px;
    background-size: 100%;
}

.fone{
    background-color: rgba(163, 83, 10, 0.7);
    height: 25%;
    margin-top: 249px;
    border-radius: 0px 0px 20px 20px;
  
         
    color: #FFFAFA;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    line-height: 350%;
    
    opacity: 0;

    transition: all;
    transition-duration: 0.5s;
}

.meredith:hover .fone,
.jason:hover .fone,
.ryan:hover .fone,
.james:hover .fone{
    opacity: 1;
}
                     /* Team */


#contactus{
    min-width: 1000px;
    margin-top: 100px;
    background-color: #fff; 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    padding-bottom: 50px;
}

.caption{
    color: #000;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
}

.registry{
    background-color: #E5E5E5;
    height: 240px;
    width: 450px;
}

iframe{
    margin-top: 35px;
    height: 335px;
    width: 400px;
}

.input{
    height: 40px;
    width: 200px;
    border: 1px solid rgba(102, 95, 95, 0.177);
    border-radius: 5px;
    margin: 20px 10px;

    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 20px;
    box-sizing: border-box;
}

.message{
    width: 422px;
    height: 135px;
    border: 1px solid rgba(102, 95, 95, 0.177);
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    resize: none;
}
                /* Contact us */


#footer{
    min-width: 1000px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly; 
}

span{
    color: #000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

.box1, .box2, .box3{
    text-align: center;
}

.email a, .phone a, .location{
    text-decoration: none;
    line-height: 22px;
    color: #000;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
}

.headtitle{
    color: #000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.margin{
    margin-bottom: 20px;
}

.week1, .week2{
    color: #000;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
}

.imgsize{
    height: 17px;
    margin-right: 10px;  
}

.inst{
    margin-right: 14px;
}

.twitter{
    margin-right: 28px;
}

.facebook{
    margin-right: 8px;
}

.web a{
    text-decoration: none;
    color: #000;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
}
