body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

#container {
    max-width: 900px;
    min-width: 900px;
    margin: 20px auto;
}

.pinkfone {
    background-color: #FFB084;
    border-radius: 20px;
    height: 500px;
    
    padding: 30px 50px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 15px;
}

.element {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 7px 7px 0px;
    font-family: 'Work Sans';
    font-style: normal;
}

.johnny {
    grid-column: span 2;
    grid-row: span 6;
}

.johnny div {
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 1.4rem;
}

.johnny img {
    margin: 8% 0 8% 30%;
    transform: scale(1.2);
}

.johnny span {
    font-weight: 600;  
}

.johnny p {
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 10%;
}

.bio {
    grid-column: span 4;
    grid-row: span 2;
    font-size: 1rem;
    padding-left: 30px;
    padding-top: 10px;
}

.bio div:nth-child(1) {
    font-weight: 700; 
}

.bio div:nth-child(2) {
    font-weight: 400;
    width: 85%;
    margin-top: 5px;
}

.goals {
    grid-column: span 2;
    grid-row: span 2;
    box-shadow: 7px 7px 0px #29A71E;
}

.goals div {
    color: #29A71E;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
    position: relative;
    right: 30px;
}

.goals ul {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 30px;
     
}

.frustrations {
    grid-column: span 2;
    grid-row: span 3;
    box-shadow: 7px 7px 0px #E13535;
}

.frustrations div {
    color: #E13535;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
    position: relative;
    right: 25px;
}

.frustrations ul {
    font-weight: 400;
    font-size: 1rem;
    width: 80%;
    margin-top: 20px;
}

.dream {
    grid-column: span 2;
    grid-row: span 3;
    box-shadow: 7px 7px 0px #3675B0;
}

.dream div {
    color: #3675B0;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
    position: relative;
    right: 50px;
}

.dream ul {
    margin-left: 40px;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 20px;
}

.personality {
    grid-column: span 2;
    grid-row: span 2;
}

.personality div:nth-child(1) {
    margin: 20px 0 0 30px;
    font-weight: 700;
}

.personality div:nth-child(2) {
    margin: 8px 0 0 30px;
    font-weight: 400;
}

.want {
    grid-column: span 2;
    grid-row: span 1;
    font-weight: 700;
    text-align: center;
}

.want div {
    margin-top: 5px;
}

 