body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Open Sans';
    font-style: normal;
}

main {
    width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 50px
}

/* Main structure */

#header {
    padding-top: 80px;
    box-sizing: border-box;
}

#header h1 {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 5px;
}

#header div {
    font-weight: 400;
    font-size: 15px;
    opacity: 0.4;
}

.line {
    border: 1px solid #100E0F;
    margin-top: 50px;
}

/* Header */

section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    border: 2px dashed #7b61ff96;
    border-radius: 7px;
}

nav {
    padding: 15px;
}

#lightbar, #nightbar{
    box-shadow: 1px 0px 0px #DEDEDE;
    padding: 30px;
}

.title {
   display: flex;
}

.logo {
    display: inline-block;
    background-color: #4A49CB;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.contacts div:first-child {
    color: #222133;
    font-weight: 700;
    font-size: 16px;
}

.contacts div:last-child a {
    text-decoration: none;
    color: #7C7C7A;
    font-weight: 400;
    font-size: 14px;
}

/* Title */

.menu {
    margin-top: 50px;
}

.menu ul,
.cellar ul {
    padding: 0;
    display: grid;
    justify-items: center;
}

.textmenu,
svg path {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    
    color: #7C7C7A;
    font-weight: 600;
    font-size: 16px;
}
 
.textmenu:hover,
.textmenu:hover path {
    background: #4949cb;
    color: #fff;   
    stroke: #F5F5F5;
    cursor: pointer;
}

/* Menu */

.cellar {
    margin-top: 250px;
}

.none {
    margin-left: 10px;
    display: none;             /* ... */
}

nav:hover .none,
nav:hover ul {
    display: block;
}

/* Lightbar */

#nightbar {
    background-color: #242625;
}

.logoNight {
    background-color: #A492FF;
}

.contactsNight div:first-child {
    color: #EFEFEF;
}

.contactsNight div:last-child a {
    color: #C0BFBD;
}

.textmenu,
svg path {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    
    color: #7C7C7A;
    font-weight: 600;
    font-size: 16px;
}
 
.textmenuNight:hover,
.textmenuNight:hover path {
    background:  #424444;
    color: #C0BFBD;   
    stroke: #7C7C7A;
}