body{
    font-family: 'Inika', serif;
    font-family: 'M PLUS 1', sans-serif;   /* Команда яка підключає шрифти */
    font-family: 'Marcellus SC', serif; 
}

.header{
    max-height: 110px;    /*  Встановлюємо максимальну висоту елемента, в не залежності від його контенту */
    min-height: 30px;     /*  Встановлюємо мінімальну висоту елементу */
    text-align: center;
    font-size: 48px;      /* Задаємо розмір тексту, шрифту для всього класу (наприклад) */
    font-weight: 400;     /* Вказуємо жирність шрифту (вага) */
    padding: 16px 0;
}

.header-span1{            /* Зсилаємось на спан в коді за назвою */
    color: #3E45E8
}

.header-span2{
    color: #E8C23E
}

.banner{
    height: 803px;                                  /* Задамо висоту фону */
    background-image: url("./img/image\ 1.png");    /* Атрибут робить фото фоновим малюнком */
    background-repeat: no-repeat;       /* відповідає за повтор фону. Цієюткомандою відключаємо повтори */
    background-size: cover;   /* покриває зображенням весь заданий елемент */
    padding-top: 210px;       /* Внутрішній відступ */
    padding-left: 84px;
    box-sizing: border-box;   /* Не виступати за границі при padding */
}

.content{
    background-image: url("./img/Rectangle\ 1.png");
    height: 136px;
    background-repeat: no-repeat;
    font-size: 64px;
    color: white;
    width: 70%;         /* Задається ширина яка береться з батьківського елемента */
    padding-left: 4%;   /* Задається внутрішній відступ елемента, може бути у відсотках, пікселях */
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
}   

.content2{
    background-image: url("./img/Rectangle\ 2.png");
    height: 136px;
    background-repeat: no-repeat;
}

.main{
    padding: 0 100px;
}

.h1{
    margin: 70px 0px;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.line{
    width: 402px;
    border-bottom: 5px solid #3E45E8;   /* border - це рамка. bottom - нижня. solid - суцільна. 5px - то її товщина а далі колір */
    margin: 30px 0px;
}

.card{
    /* border: 1px solid black; */
    width: 30%;  
    display: inline-block;  /* Цим атрибутом замінюємо тип елементу на */
    vertical-align: top;    /* Вирівнювання елементів по вертикалі (зверху) */
    border-radius: 50px;    /* Задаємо радіус скруглень елемента */
    overflow: hidden;       /* Скривати елементи які лізуть за рамку */  
    box-shadow: 0px 4px 57px rgba(0,0,0,.25);    /* Атрибут задає тінь для об'єкта. Перше - зміщення по осі х, друге - по осі у, третє - розмиття і останнє колір */           
}

.card_margin{               /* В команді class відразу можна вказувати багато назв */
    margin: 0 2.5%;
}

.card__image{
    width: 100%;      /* Задали ширину фото в рамці, щоб вона заповнювала всю рамку */
}

.card__title{
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    padding: 15px;
}

.card__subtitle{
    color: #E8C23E;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    padding: 10px 15px 80px;
}

.h2{
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    margin: 70px 0px;
}

.underline{
    border-bottom: 5px solid #3E45E8;
    margin: 30px auto;    /* Задаємо відступ лінії під текстом */
    width: 402px;         /* Ширина лінії */
}

.center-img {
    display: block;  /* Перетворимо фото в блокову систему */
    margin: 0 auto;
  }

 .bluefone{
      background-image: url("./img/Rectangle\ 6.png");
      background-repeat: no-repeat;
      height: 121px;
      width: 591px;
      margin: 50px auto;
  }

  .textfone{
    color:white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 64px;
    padding-left: 105px;
    padding-top: 25px;
  }

  .brownfone{
    background-image: url(./img/Rectangle\ 7.png);
    background-repeat: no-repeat;
    height: 320px;
    max-height: 320px;
    background-size: cover;
  }

  .firsttext{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }

  .secondtext{
      text-align: center;
      font-size: 36;
      font-weight: 400;
  }

  .a{
    text-decoration: none;
    color: #A89D9D;
   }

  .logos{
    display: block;
    text-align: center;    
  }







