body {
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
    min-width: 312px;
    font-family: 'Montserrat';
}

/* Main */

.head1 {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
}

.navbar-brand img {
    width: 85%;
}

.forms {
    width: 30vw;
}

.input {
    font-weight: 500;
    font-style: normal;
    border: 2px solid #323232;
    padding-left: 30px;

    background-image: url(./img/pin\ 1.png);
    background-repeat: no-repeat;
    background-position: 7px;
    background-size: 17px;
}

.sign {
    background-color: #EF781A;
    border-color: #EF781A;
}

.basket {
    background-color: #00D008;
    border-color: #00D008;
}

.sign, .basket {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .forms {
        width: 70%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .input {
        margin-left: 0 !important;
    }

    .basket {
        margin-left: 5px !important;
    }
}

.bigtitle {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.mak {
    padding-top: 5%;
    padding-bottom: 2%;
    font-style: normal;
    font-weight: 800;
}

/* Header */

.menu div {
    margin-top: 1.5%;
    margin-right: 2%;
}

.menu a {
    text-decoration: none;
    color: #7B7B7B;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 10px;

    transition: all 0.2s linear;
}

.menu a:hover {
    background-color: #C4C4C4;
    color: #343434;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .menu a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        display: block !important;
    }

    .menu div {
        margin-top: 7%;
    }
}

/* Section menu */

main {
    display: flex;
}

.titles {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.card {
    max-height: 100%;
}

.card-body {
    padding-left: 10%;
    padding-right: 10%;
}

.card-title {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
}

.card-text {
    color: #A2A2A2;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;     
}

.add-to-basket {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;

    background-color: #FF6C01;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 25px;
    display: none;
}

.card:hover .price {
    display: none;
}
.card:hover .add-to-basket {
    display: block;
}

svg {
    transform: scale(1.2);
}

svg:hover path {
    fill: #69A042;
    stroke: #69A042;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    main {
        display: block;
    }
}

/* Cards */

.buymenu {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px 16px;
    min-width: 400px;
    margin: 15px;
    margin-left: 25px;
}

.partmenu1 {
    padding: 0 40px;
}

.partmenu1 h5 {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 25px;
}

.subparts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.subparts div {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
}

.subparts ul {
   padding-left: 15px;
   margin-bottom: 0;
   color: #979797;
   font-size: 0.8rem;
}

.number {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    justify-items: center;
}

.number div:nth-child(2) {
    font-size: 1.3rem;
}

.number div:first-child,
.number div:last-child {
    background-color: #FF6C01;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.partmenu2 {
    display: flex;
    justify-content: space-between;
    background-color: #FF6C01;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 20px;

    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
}

/* BuyMenu */

.whitefone {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    width: 845px;
}

.desc {
    font-style: normal;
    font-weight: 500;
    color: #999999;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.about {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20px;
}

.whitefone div:last-child {
    margin: 0;
}

@media screen and (max-width:1400px) {
    .whitefone {
        width: 605px !important;
    }
}

@media screen and (max-width:1200px) {
    .whitefone {
        width: 520px !important;
    }
}

@media screen and (max-width:992px) {
    .whitefone {
        width: 100% !important;
    }
}

/* About partner */

.upbotton {
    background-color: #FFFFFF;   
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 65px;
}

.upbotton img {
    width: 30%;
}

/* Button */

#footer {
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
    width: 100%;
    height: 100%;
    min-width: 430px;
}

.textfoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    padding: 25px 0;
}

.textfoot span {
    margin-left: 15px;
    cursor: pointer;
}

.textfoot div img {
    width: 35px;
    margin-left: 10px;
}

/* Footer */

