.page1{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: inline-block;
    margin: 0px 30px;
    vertical-align: top;   /* Вирівнювання */
}

.whiteline1{
    height: 227.36px;
    color: white;
    padding: 144px 0px; 
    text-align: center;
}

.page2{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border;
    display: inline-block;
    margin: 0px 30px;
    border-radius: 250px;    /* Скруглення */
}

.whiteline2{
    height: 227.36px;
    color: white;
    padding: 250px 0px; 
    text-align: center;
}                                           /* Закінчення першого пункту */

.square{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    display: inline-block;
}

.circle{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    border-radius: 250px;
    display: inline-block;
}

.second{
    margin: 50px 0px;
}                                           /* Закінчення другого пункту */

.Petcube-Square{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    display: inline-block;
    vertical-align: top;
}

.square_smile{
    height: 393px;
    text-align: left;
    padding: 50px 0;
}

.Petcube-Circle{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    border-radius: 250px;
    display: inline-block;
}

.square_smile2{
    height: 393px;
    text-align: center;
    padding: 50px 0;
}                                        /* Закінчення третього пункту */

.Spark-Square{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    display: inline-block;
    vertical-align: top;
}

.plane1{
    height: 385.93px;
    text-align: end;
    padding: 125px 0;
}

.Spark-Circle{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    border-radius: 250px;
    display: inline-block;
}

.plane2{
    height: 385.93px;
    text-align: center;
    padding: 50px 0;
}

.fourth{
    margin: 50px 0px;
}                                          /* Закінчення четвертого пункту */

.fifth{
    margin: 0px 0;
}

.Diia-Square{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    display: inline-block;
    vertical-align: top;
}

.Diia1{
    height: 181.88px;
    text-align: center;
    padding: 150px 0;
}

.Diia-Circle{
    background-image: url(./img/Square.png);
    height: 512px;
    width: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px 30px;
    border-radius: 250px;
    display: inline-block;
}

.Diia2{
    height: 181.88px;
    text-align: center;
    padding: 150px 0;
}                                      /* Кінець Дія укр */

.Diia-Flag{
    background-image: url(./img/black.png);
    height: 512px;
    width: 512px;
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}

.Diia3{
    height: 181.88px;
    text-align: center;
    padding: 150px 0; 
}

.Flag1{
    height: 60px;
    text-align: center;
    padding: 30px 0;
}                             /* Перша фото дія */

.Flag2{
    height: 60px;
    text-align: top;
    padding: 20px 20px;
}                   

.Diiablack{
    text-align: center;
    padding: 50px 0px;
}                              /* Друга фото дія */

.Flag3{
    display: inline-block;
    text-align: top;
    padding: 20px 20px;
}

.Diiablack2{
    text-align: center;
    padding: 50px 80px;
}

.Flag4{
    display: inline-block;
    text-align: right;
    padding: 0px 0px 0px 311px;
}

                            