body{
    background: #E5E5E5;
    margin: 0;
    min-width: 1320px;
}

.header,
.header2 {
    margin: 0px auto;
}

.header{
    background: #202846;
    height: 70px;
    width: 90%;
}

.logo{
    height: 50px;
    padding-top: 10px;
    padding-left: 100px;
}

ul{
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    bottom: 55px;
     
    list-style: none;
    text-transform: uppercase;

    color: #FFFFFF;
    font-size: 16px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
}

li{
    margin: 0 30px;
}

.globus{
    height: 50px;
}

.headline{
    border: 2px solid white;
    height: 45px;
}

#ua{
    position: relative;
    left: 5px;
    bottom: 17px;
    font-size: 18px;
}

#kab{
    display: flex;
    justify-content: center;
}


/* header */



.header2{
    background: #C6C6DC;
    height: 120px;
    width: 90%;
    margin-bottom: 150px;
}

.header2 a{
    color: #202846;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;

    text-decoration: none;
    padding: 20px;

    position: relative;
    top: 36px;
    left: 140px;
}



/* header2 */




.card1{
    margin: 0px auto;
    background: #BDBDC6;
    height: 250px;
    width: 75%;
    margin-bottom: 35px;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.img_bakota{
    height: 200px;
    position: relative;
    top: 25px;
}

.inside{
    position: relative;
    top: 28px;
}

.text{
    color: #353C57;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;

    position: relative;
    top: 6px;
}

.underline{
    background-color: white;
    height: 2px;
    margin: 5px 0;
}

.greyfone{
    background: #D7D7DD;
    height: 76%;
    width: 550px;
    text-align: center;
}

.greyfone div{
    width: 90%;

    color: #202846;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    position: relative;
    left: 25px;
    top: 25px;
}





.btn{
    display: flex;
    justify-content: end;
}


.botton{
    background-color: #202846;
    height: 35px;
    width: 120px;
    border-radius: 40px;

    position: relative;
    left: 25px;
}

.botton div, a{
    color: #FFFFFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    text-align: center;
    padding-top: 8px;
    text-decoration: none;
}

.star{
    text-align: end;
    position: relative;
    bottom: 242px;
}

.card1:hover .star path{
    fill: yellow;
}

    /* all cards */



#fixed-div{
    position: fixed;          
    bottom: 90px;
    right: 30px;
}

.footer{
    height: 90px;
    background-color: #202846;
    margin-top: 100px;
}

.undertext{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #EEECF1;
    padding-top: 21px;
    padding-left: 60px;
}